extends layout/base 
block content 
	section.content-header 
		h1 
			| Hi Admin	
	section.content
		.box
			.box-header.with-border
				h3.box-title
					b
						| Users
				.box-tools.pull-right
					button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
						i.fa.fa-minus
					button(type='button', data-widget='remove', data-toggle='tooltip',title='Remove').btn.btn-box-tool
						i.fa.fa-times
			.box-body
				table(class="table table-striped")
					thead
						tr
							th Name
							th Age
							th Nationality
					tbody
						each user in users
							tr
								td #{user.name}
								td #{user.age}
								td #{user.nationality} 
				div.footer
					center
						a(class= buttonClassFirst ,href="viewFulllist?limit=10&page=1") <<
						a(class= buttonClassFirst ,href="viewFulllist?limit=10&page="+(pageCount-1)) <
						a(class= "btn btn-primary elem disabled") #{pageCount}
						a(class= buttonClass,href="viewFulllist?limit=10&page="+(pageCount+1)) >
						a(class= buttonClass,href="viewFulllist?limit=10&page="+(lastPage)) >>






				