html
head
    title menu
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
    link(rel='stylesheet',href="../styles/style.css")
    body
        div.view
            center
                h2 Hi Welcome!!!!!
                div
                    a.btn.btn-lg.btn-defaul(type='button',href="viewFulllist") View Details
                