html
   head
      include header.pug
      title Person
      link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
      link(rel='stylesheet',href="../styles/style.css")
   body
      div
         if(type == "error")
            h3(style = "color:red") #{message}
         else
            center
               table.viewDetails
                  thead
                     tr
                        th Name
                        th Age
                        th Nationality
                  tbody
                     each user in users
                        tr
                           td  #{user.name}
                           td  #{user.age}
                           td #{user.nationality}
               